@import '../variables';

.pki {	
	width: 40px;
	height: 30px;
	max-width:none;
	vertical-align:middle;
	display:inline-block;
	background: transparent none no-repeat 32px 32px;
	background-image: url("./montage-icon.png");
}

.pk_all {
	.pk_selector{
		border: solid 0.1em $primaryLight;
		border-radius: 0.2em;
		@include square(5em);
		transition: all 0.5s;
		cursor: pointer;

		margin: 0.1em;
		&:hover{@include background_opacity($primaryLight, 0.4);}
		.name, .national_id { color: $primaryDark}
		.name{font-size: 0.8em;}
		
	}
}

