/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400');

.row, .col{
	display:flex;
	flex-wrap: wrap;
}
.row{flex-direction:row;}
.col{flex-direction:column;}

/*///////////////Justify Content///////////////*/
.center{justify-content:center;}
.flex_end{justify-content:flex-end;}
.flex_start{justify-content:flex-start;}
.space_around{justify-content:space-around;}
.space_between{justify-content:space-between;}

/*///////////////Align Items///////////////*/
.align_center{align-items:center;}
.align_start{align-items:flex-start;}
.align_end{align-items:flex-end;}

/*///////////////FLEX WRAP///////////////*/
.full_width{width: 100%;}
.full_height{height:100%;}
.full_width-height{ width:100%; height: 100%; }

/*/////////Clear List Properties//////////*/
body, li, ul{
	padding:0;
	margin:0;
	list-style:none; 
	font-family: 'Muli', sans-serif;
}